{% for item in items %}
  <article class="item">
    <span>{{item["name"]}}</span>
    <span>Rp. {{item["price"]}}</span>

    <div class="d-flex flex-column flex-sm-row">
      <button type="button" class="btn btn-dark delItem" data-item="{{item['name'].lower()}}">
        <i class="fa-solid fa-trash" data-item="{{item['name'].lower()}}"></i>
      </button>

      <button type="button" class="btn btn-dark modifyItem" data-item="{{item['name'].lower()}}">
        <i class="fa-solid fa-edit" data-item="{{item['name'].lower()}}"></i>
      </button>
    </div>
  </article>
{% endfor %}